.sidenav_logo img {
    height: 80px;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 20px;
}

.sidenav {
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    padding-right: 50px;
    border-right: 1px solid #ccc;
}

.sidenav_search {
    margin-left: 20px;
    display: flex;
    position: relative;
}

.sidenav_search input {
    padding: 8px 10px;
    cursor: zoom-in;
    box-shadow: 0 2px 3px 0  #ff4400a7;
}

.sidenav_search button img {
    width: 20px;
    height: auto;
}

.sidenav_menu {
    margin-top: 30px;
}

.sidenav a {
    text-decoration: none;
    color: rgb(6, 56, 6);
}

.sidenav_links li {
    padding: 8px 10px 8px 0;
    list-style: none;
}

.sidenav hr {
    margin: 2em 0;
    width: 240px;
    border: 1px solid rgba(128, 128, 128, 0.286);
}