.post-left img {
    height: 20px;
    width: auto;
}

.post-left {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.post {
    display: flex;
    align-items: center;
    margin: 1.5em 1em;
    justify-content: center;
    border: 2px;
}

.post-center img {
    height: 120px;
    width: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.post div {
    margin-right: 20px;
}

div.posts {
    margin: 10px 40px;
    margin-left: 35px;
    width: 95%;
}


.post-right {
    width: 85%;
    margin-top: 20px;
}

.post-right h3 a {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(61, 61, 61);
    padding: 5px 0;
}

.post-right a {
    text-decoration: none;
}

.postInfo {
    color: rgb(128, 126, 126);
}

.postInfo p {
    margin-top: 2px
}